
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<dl>
    <dt>Name:</dt>
    <dd>Ugo Forsblom</dd>
    <dt>Adress:</dt>
    <dd>Nederled Smedgård 2</dd>
    <dt>email:</dt>
    <dd>ugojnr@yahoo.com</dd>
    <dt>Qualifications:</dt>
    <dd>MSc,BSc,NCE</dd>
</dl>
