
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>

<dt>Home Phone:</dt>
<dd>0023411234</dd>
<dt>Office Phone:</dt>
<dd>00739393939</dd>
<dt>Mobile Phone:</dt>
<dd>001874536</dd>
<dt>e-mail</dt>
<dd>ugf@jworg</dd>
</d1>

