@model ASP.NETCORE1.Models.DoctorModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@if (Model.temperature >= 30)
{
    <span> You have high fever</span>
}
else if (Model.temperature <= 10)
{
<span> Yoh have hypotermia</span>
}
else 
{
    <span>You have no fever</span>
}


