
@{ 
    ViewBag.Title = "Index";
}

<h1>Welcome To My World!</h1>

<p>This is my first Index home page</p>
<p>Still trying to understand what am doing</p>
<p>Hope your patience doesnt come to an end</p>
<code>console.log()//Js debug tool</code>
