
@{
    ViewData["Title"] = "Project";
}

<h1>Project</h1>

<p>Some of my links in github</p>

<h3>https://github.com/UgoForsblom/newindexfolder.git</h3>

<h4>https://github.com/UgoForsblom/IndexFolder.git</h4>

